@using Edunator.Models
@model Edunator.Models.AddLessonViewModel

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="icon" href="~/Content/img/icon.png" />

    <title>Edunator</title>
</head>
<body>
    <header>
        <img src="~/Content/img/edunator.png" />
        <img id="book_gif" src="~/Content/img/book2.gif" />
    </header>
    <br />
    <main>
        <br />
        <h3>Logged in as @Model.FirstName @Model.LastName</h3>


        @foreach (Lesson lesson in Model.Lessons)
        {
        <section class="jumbotron">
            <h1>@lesson.Topic</h1>
            <h4>@lesson.Date</h4>
            <hr />
            <p>
                @lesson.Content
            </p>
            @if (lesson.LinkToImg != null)
            {
                <p>Link to image: <a href="@lesson.LinkToImg">image</a></p>
            }
            @if (lesson.LinkToMovie != null)
            {
                <p>Link to video: <a href="@lesson.LinkToMovie">video</a></p>
            }
            @if (lesson.LinkToExtras != null)
            {
                <p>Link to extra materials: <a href="@lesson.LinkToExtras">extra</a></p>
            }
        </section>
        }



            <form action="@Url.Action("AddLesson","Main", new { subjectId = Model.Subject.Id})" , method="post">
                <br />
                <h2>Add lesson to subject @Model.Subject.Name</h2>
                <div class="form-group">
                    <label>Topic:</label>
                    <input name="topic" class="form-control w-50" required>
                </div><br />
                <div class="form-group">
                    <label>Content:</label>
                    <textarea name="content" class="form-control w-50" rows="5" cols="20"></textarea>
                </div><br />
                <div class="form-group">
                    <label>Link to img:</label>
                    <input name="imglink" class="form-control w-50">
                </div><br />
                <div class="form-group">
                    <label>Link to video:</label>
                    <input name="videolink" class="form-control w-50">
                </div><br />
                <div class="form-group">
                    <label>Link to extras:</label>
                    <input name="extraslink" class="form-control w-50">
                </div><br />
                <button type="submit" class="btn btn-outline-dark w-50">Add</button>
            </form>

        <br /><br /><br />
        <a href="@Url.Action("BackToMain", "Main")" class="btn btn-outline-dark"><< Back</a>
        <br /><br />
    </main>

    <footer>
        Edunator 2020 &copy; All rights reserved
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>